*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2e9e4;
}

.parent-cont{
    border: 2px solid #4a4e69;
    height: 550px;
    width: 335px;
    margin: 15vh auto;
    border-radius: 0.5cm;
    background-color: #9a8c98;
}

img{
    display: block;
    height: 240px;
    width: 320px;
    margin: 7px auto;
    border-radius: .2cm;
}

div>ul{
    list-style: none;
    display: flex;
    margin-left: 20px;
}

div>ul>li{
    border: 2px solid #4a4e69;
    margin-right: 8px;
    margin-top: 10px;
    font-size: 12px;
    color: #4a4e69;
    border-radius: .5cm;
    padding: 3px 8px;
}

div>h1{
    color: #292b3a;
    margin: 20px 10px;

}

.content{
    color: #292b3a;
    width: 300px; 
    margin-left: 15px;
}

button
{
    background-color: #caf0f8 ;
    border: 3px solid #caf0f8 ;
    color:#0077b6;
    display: block;
    margin: auto;
    font-size: 12px;
    padding: 10px 25px;
    border-radius: 2cm;
    position: relative;
    top: 25px;
}

button:hover{
    cursor: pointer;
}

